/* Start Global Rules */

   /* variables */
:root {
    --main-color: #2196f3;
    --main-color-alt: #1787e0;
    --section-color: #ECECEC;
    --main-transition-duration: 0.3s;
    --main-padding-top: 100px;
    --main-padding-bottom: 100px;
}
   /* variables */

* {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Cairo', sans-serif;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;    
}

/* Small */
@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}

/* Medium */
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

/* Large */
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}

/* Components *//* Components *//* Components */

.main-title{
    text-transform: uppercase;
    text-align: center;
    border: 2px solid black;
    width: fit-content;
    margin: 0 auto 80px;
    padding: 10px 20px;
    font-size: 30px;
    position: relative;
    transition: var(--main-transition-duration);
}
.main-title::before,
.main-title::after{
    content: "";
    position: absolute;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: var(--main-color);
    top: 50%;
    transform: translateY(-50%);
}
.main-title::before{
    left: -30px;
}

.main-title::after{
    right: -30px;
}

.main-title:hover::before{
    animation: move-left 0.5s linear forwards;
    z-index: -1;
}

.main-title:hover::after{
    animation: move-right 0.5s linear forwards;
    z-index: -1;
}

.main-title:hover{
    border: 2px solid white;
    background-color: var(--main-color);
    color: white;
    transition-delay: 0.5s;
}
@keyframes move-left{
    50%{
        left:0;
        height:12px;
        width: 12px;
        border-radius:50% ;
    }
    100%{
        left: 0;
        height: 100%; 
        width: 100%;
        border-radius: 0;
    }
}
@keyframes move-right{
    50%{
        right:0;
        height:12px;
        width: 12px;
        border-radius:50% ;
    }
    100%{
        right: 0;
        height: 100%;
        width: 100%;
        border-radius: 0;
    }
}

.dots{
        background-image: url(../images/dots.png);
        background-repeat: no-repeat;
        height: 100px;
        width: 100px;
        position: absolute;
} 
    
.dot-up{
        right: 0;
        top: 150px;
}
    
.dot-down{
        left: 0;
        bottom: 150px;
}

/* Components *//* Components *//* Components */


/* End Global Rules */


/* Start Header */
 .header {
    background-color: white;
    position: relative;
    box-shadow: 0 0 10px #ddd;
 }

 .header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
 }

 .header .logo{
    color: var(--main-color);
    font-size: 26px;
    font-weight: bold;
    height: 72px;
    display: flex;
    align-items: center;
    justify-content: center;
 }

 @media (max-width: 767px){
    .header .logo{
        width: 100%;
        height: 50px;
    }
 }

 .header .main-nav {
    display: flex;
 }

 @media (max-width: 767px){
    .header .main-nav {
        margin: auto;
    }
 }
 .header .main-nav > li:hover .mega-menu{
    z-index: 2;
    opacity: 1;
    top: calc(100% + 1px);
 }
 .header .main-nav > li > a {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 72px;
    position: relative;
    padding: 0 30px;
    color: black;
    transition: var(--main-transition-duration);
    overflow: hidden;
}

@media (max-width: 767px){
    .header .main-nav > li > a {
        padding: 0 10px;
        font-size: 13px;
        height: 50px;
    }
    }


  .header .main-nav > li > a::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 4px;
    background: var(--main-color);
    top: 0;
    left: -100%;
    transition: var(--main-transition-duration);

  }

  .header .main-nav > li > a:hover {
    color: var(--main-color);
    background-color: #fafafa;
  }

.header .main-nav > li > a:hover::before {
     left: 0;   
    }
    .header .mega-menu {
        display: flex;
        gap: 40px;
        position: absolute;
        left: 0;
        background-color: white;
        z-index: -1;
        width: 100%;
        padding: 30px;
        border-bottom: 3px solid var(--main-color);
        top: calc(100% + 50px);
        opacity: 0;
        transition: top var(--main-transition-duration), opacity var(--main-transition-duration);
    } 
    @media (max-width: 767px){
        .header .mega-menu {
            flex-direction: column;
            gap: 0;
            padding: 5px;
        }
    }
    .header .mega-menu .image img {
        max-width: 100%;
    }
    @media (max-width:991px){
        .header .mega-menu .image img {
            display: none;
        }
    }
    .header .mega-menu .links{
        min-width: 240px;
        flex: 1;
    }
    .header .mega-menu .links li{
position: relative;
    }
    .header .mega-menu .links li:not(:last-child){
        border-bottom: 1px solid #e9e6e6;
    }
    @media (max-width: 767px){
        .header .mega-menu .links:first-of-type li:last-child{
            border-bottom: 1px solid #e9e6e6; 
        }
    }

    .header .mega-menu .links li::before{
        content: "";
    position: absolute;
    width: 0;
    left: 0;
    top: 0;
    height: 100%;
    background-color: #fafafa;
    z-index: -1;
    transition: var(--main-transition-duration);
    }
    .header .mega-menu .links li:hover::before{
        width: 100%;
    }


    .header .mega-menu .links li a{
        color: var(--main-color);
        padding: 15px;
        display: block;
        font-size: 18px;
        font-weight: bold;
    }
    .header .mega-menu .links li a i{
margin-right: 10px;
    }
/* End Header */

/* Start Landing */

.landing{
    position: relative;
}
.landing::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #ececec;
    top: -40px;
    left: 0;
    z-index: -1;
    transform: skewY(-6deg);
    transform-origin: top left;
}

.landing .container{
    display: flex;
    min-height: calc(100vh - 72px);
    align-items: center;
    padding-bottom: 120px;
}
@media (max-width: 991px){
    .landing .container{
        min-height: calc(100vh - 100px);
    }
}
.landing .text{
    flex: 1;
}
@media (max-width: 991px){
    .landing .text{
        text-align: center;
    }
}
.landing .text h1{
    font-size: 40px;
    letter-spacing: -2px;
    margin: 0;
}
@media (max-width: 767px){
    .landing .text h1{
        font-size: 28px;
    }
}
.landing .text p{
    font-size: 22px;
    line-height: 1.7;
    color: #777;
    margin: 5px 0 0;
    max-width: 500px;
}
@media (max-width: 767px){
    .landing .text p{
        font-size: 18px;
    }
}
@media (max-width: 991px){
    .landing .text p{
        margin: 10px auto;
    }
}

.landing .image img{
    width: 600px;
    /* max-width: 100%;  الغينا لان الصورة تختفس في الميديا البعد عطول مافي داعي لانه يستخدم في حال responsive*/
    position: relative;
    /* تستخدمنا ريلاتيف لان بنتحم في top في الانيميشن */
    animation: up-and-down 5s linear infinite;
}

@keyframes up-and-down{
    0%{
        top: 0;
    }
    50%{
        top:-50px
    }
    100%{
        top: 0;
    }
}

@media (max-width: 991px){
    .landing .image img{
        display: none;
    }
}

.landing .go-down {
    position: absolute;
    left: 50%;
    bottom: 30px;
    color: var(--main-color);
    transform: translateX(-50%);
    font-size: 25px;
    transition: var(--main-transition-duration);
}
.landing .go-down:hover {
    color: var(--main-color-alt);
}

.landing .go-down i {
    position: relative;
    animation: bouncing 1.5s  infinite;
/* استخمنا position عشان تحت بنستخدم transform */
}
@keyframes bouncing{
    0%,
    10%,
    20%,
    50%,
    80%,
    100%{
        transform: translateY(0);    }
    
    40%,
    60%{
        transform: translateY(-30px);
    }
}
/* يفضل ان نجمع كل keyframes */
 /* End Landing */


 /* Start articles */
 
 .articles{
    padding-top: var(--main-padding-top);
    padding-bottom: var(--main-padding-bottom);
 }

 .articles .container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px,1fr));
    gap: 40px;
 }

 .articles .box{
    box-shadow:  0 2px 15px rgb(0 0 0 / 10%); 
    background-color: white;
    border-radius: 6px;
    overflow: hidden;
    transition: transform var(--main-transition-duration), box-shadow var(--main-transition-duration);
    /* في حال تغير لون الصفحة يبقى لون الصندوق ابيض */
 }
 
 .articles .box:hover{
    transform: translateY(-10px);
    box-shadow:  0 2px 15px rgb(0 0 0 / 30%); 
 }
 


.articles .box .image img{
    width: 100%;
    max-width: 100%;
}

 .articles .box .content{
    padding: 20px;
 }
 
 
 
 .articles .box .content p{
    font-size: 16px;
    color: #777;
    line-height: 24px;
    padding: 10px 0  0;
}
.articles .box .info{
    padding: 20px;
    border-top: 1px solid #e6e6e7;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.articles .box .info a{
    color: var(--main-color);
    font-weight: bold;
}
.articles .box .info i{
    color: var(--main-color);
    
    animation: arrow-right 0.6s linear infinite;
}
.articles .box:hover .info  i{
   transform: translateX(10px);
}

@key-frames arrow-right{
    100% {
        transform: translateX(10px);
    }
}

/* End articles */

/* Start gallery */
.gallery{
    padding-top: var(--main-padding-top);
    padding-bottom: var(--main-padding-bottom);
    background-color: var(--section-color);
}
.gallery .container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px,1fr));
    gap:40px;
}
.gallery .box{
    padding: 15px;
    background-color: white;
    box-shadow:  0px 12px 20px 0px rgb(0 0 0 / 13%), 0px 2px 4px 0px rgb(0 0 0 / 12%) ;
    position: relative;
    overflow: hidden;
}
.gallery .container .image{
    position: relative;
    overflow: hidden;

}
.gallery .container .box .image::before{
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: 0;
    height: 0;
    background-color: rgb(255 255 255 / 20%);
    opacity: 0;

}
.gallery .container .box .image:hover::before{
    animation: flashing 0.7s;
    z-index: 5;
    
}

@keyframes flashing{
    0%, 40%{
        opacity: 1;
    }
    100%{
        opacity: 0;
        width: 200%;
        height: 200%;
    }
}

.gallery .container img{
    max-width: 100%;
    transition: var(--main-transition-duration);    
}
.gallery .container .box .image:hover img{
    transform: rotate(0.5deg) scale(1.1);
}
/* end gallery */

/* Start features */
.features{
    padding-top: var(--main-padding-top);
    padding-bottom: var(--main-padding-bottom);
    background-color: white;
}
.features .container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 40px;
}
.features .box{
    border: 1px solid #ccc;
    text-align: center;
    overflow: hidden;
    
}
.features .box .image{
    position: relative;
}
                         /* OVERLAY */

.features .box .image::before{
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}
.features .quality .image::before{
    background-color: rgba(244, 63, 54, 0.5);
}
.features .time .image::before{
    background-color: rgba(0, 150, 135, 0.5);
}
.features .passion .image::before{
    background-color: rgba(3, 168, 244, 0.5);
}
                                 /* OVERLAY */
.features .box .image::after{
    position: absolute;
    content: "";
    bottom: 0;
    right: 0;
    border-style: solid;
    border-width: 0px 0px 170px 500px;
    border-color: transparent transparent white transparent;
    transition: var(--main-transition-duration);
}
.features .box:hover .image::after{
    border-width: 0px 340px 100px 500px;
}

.features .box .image img{
    max-width: 100%;
}
.features .box .content{
    
}
.features .box .content h2{
    position: relative;
    font-size: 40px;
    width: fit-content;
    margin:  auto;
}
.features .box .content h2:before{
    content: "";
    position: absolute;
    width: 80%;
    /* طريقة ثانية للعرض calc(100%-20px) */
    height: 5px;
    bottom: -15px;
    left: 50%;
    transform: translateX(-50%);
}
.features .quality .content h2:before{
    background-color: #F44036;
}
.features .time .content h2:before{
    background-color: #009688;
}
.features .passion .content h2:before{
    background-color: #03a9f4;
}
.features .box .content p{
    padding: 25px ;
    color: #777;
    line-height: 2;
    font-size: 20px;
    margin: 20px 0;
}
.features .box a{
    display: block;
    width: fit-content;
    font-size: 22px;
    font-weight: bold;
    margin: 0 auto 30px;
    border: 3px solid transparent;
    padding: 5px 15px;
    border-radius: 5px;
    z-index: 0;
    overflow: hidden;
    transition:var(--main-transition-duration);
}
/* .features .box a::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #F44036;
    left: -100%;
    top: 0;
    transition: var(--main-transition-duration);
    z-index: -1;
}
.features .box:hover a::before{
    left: 0px;
    
} */
/* .features .box:hover a{
    color: white;
} */

.features .quality a {
    color: #F44036;
    border-color: #f44036;
    background-size: 200% 100%;
    background-image: linear-gradient(to right, #f44036 50%, white 50%);
    background-position: right center;
}

.features .time a {
    color: #009688;
    border-color: #009688;
    background-size: 200% 100%;
    background-image: linear-gradient(to right, #009688 50%, white 50%);
    background-position: right center;
}

.features .passion a {
    color: #03A9F4;
    border-color: #03A9F4;
    background-size: 200% 100%;
    background-image: linear-gradient(to right, #03A9F4 50%, white 50%);
    background-position: right center;
}

.features .box a:hover{
    color: white;
    background-position: left center;
}

/* طريقتين لعمل الانيميشن 
استخدمنا طريقة background-position
الجديدة */
/* End features */

/* Start testomoials */
.testimonials{
    padding-top: var(--main-padding-top);
    padding-bottom: var(--main-padding-bottom);
    background-color: var(--section-color);
}
.testimonials .container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 30px;
}

.testimonials .container .box{
    background-color: #FFFFFF;
    padding: 20px;
    position: relative;
    box-shadow: 0 2px 4px rgb(0 0 0 / 10%)
}
.testimonials .container .box img{
    border-radius: 50%;
    position: absolute;
    height: 100px;
    width: 100px;
    right: -10px;
    top: -50px;
    border: 10px solid var(--section-color);
}
.testimonials .container .box h3{
    margin-bottom: 10px;
}
.testimonials .container .box .title{
    display: block;
    margin-bottom: 10px;

}
.testimonials .container .box .rate i{
    /* color: white; */
    /* border: 1px solid black; */
}
.testimonials .container .box .rate .filled{
    color: #FFC107;
}
.testimonials .container .box p{
    margin-top: 10px;
    color: #777;
    line-height: 1.5;
}
/* End testomoials */

/* Start team */

.team{
    padding-top: var(--main-padding-top);
    padding-bottom: var(--main-padding-bottom);
}
.team .container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 30px;
}
.team .box{
    position: relative;
}
.team .box::before,
.team .box::after{
    content: "";
    position: absolute;
    background: #f3f3f3;
    right: 0;
    top: 0;
    height: 100%;
    border-radius: 10px;
    transition: var(--main-transition-duration);
}
.team .box::before{
    width: calc(100% - 60px);
    z-index: -2;
}
.team .box::after{
    width: 0;
    background-color: #e4e4e4;
    z-index: -1;
}
.team .box:hover:after{
    width: calc(100% - 60px);
}

.team .box .data{
    display: flex;
    padding-top: 60px;
}
.team .box img{
    width: calc(100% - 60px);
    border-radius: 10px;
    transition: var(--main-transition-duration);
}
.team .box:hover img{
    filter: grayscale(100%);
}
.team .box .social{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    flex-direction: column;
    gap: 20px;
}
.team .box .social a{
    /* display: block; */
    width: 60px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.team .box .social i{
    color: #777;
    transition: var(--main-transition-duration);
}
.team .box .social a:hover i{
    color: var(--main-color);
}
.team .box .info{
    position: relative;
    left: 60px;
    width: fit-content;
}
/* أو نزيد البادينق 80px */
.team .box .info h3{
    font-size: 22px;
    color: var(--main-color);
    padding: 20px 20px 10px;
    transition: var(--main-transition-duration);
}
.team .box:hover h3{
    color: #777;
}
.team .box .info p{
    /* color: #777; */
    padding: 0 20px 25px;
}
/* End team */

/* Start services */
.services{
    padding-top: var(--main-padding-top);
    padding-bottom: var(--main-padding-bottom);
    background-color: var(--section-color);
}
.services .container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 40px;
}
.services .container .box{
    position: relative;
    background-color: white;
    box-shadow: 0 12px 20px 0 rgb(0 0 0 / 13%), 0 2px 4px 0 rgb(0 0 0 / 12%);
    counter-increment: services;
    transition: var(--main-transition-duration);
}

.services .container .box::after{
    content: "";
    position: absolute;
    background-color: var(--main-color);
    width: 0;
    height: 3px;
    left: 50%;
    top: -3px;
    transition: var(--main-transition-duration);
}
.services .container .box:hover::after{
    width: 100%;
    left: 0;
}
.services .container .box:hover{
    transform: translateY(-10px);
}



/* 
.services .container .box:hover::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: var(--main-color);
    left: 0;
} */
.services .container .box .first-part{
    text-align: center;
    padding: 30px;
}
.services .container .box .first-part > i{
    color: #d5d5d5;
    
}
.services .container .box .first-part > h3{
    color: var(--main-color);
    font-size: 25px;
    margin-top: 15px;
}

.services .container .box .second-part{
    position: relative;
    background-color: #F9F9F9;
    text-align: end;
    padding: 15px;
    overflow: hidden;
    z-index: 1;
}
.services .container .box .second-part::before{
    position: absolute;
    content: "0"counter(services);
    background-color: var(--main-color);
    left: 0;
    top: 0;
    height: 100%;
    width: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 20px;
    font-size: 25px;
    font-weight: bold;
    color: white;
}
.services .container .box .second-part::after{
    position: absolute;
    content: "";
    background-color: #d5d5d5;
    left: 80px;
    top: 0;
    height: calc(100% + 1px);
    width: 50px;
    transform: skewX(-30deg);
}




.services .container .box .second-part a{
    color: var(--main-color);

}
.services .container .box .second-part{}

/* End services */

/* Start Our skills */

.our-skills{
    padding-top: var(--main-padding-top);
    padding-bottom: var(--main-padding-bottom);
    /* background-color: var(--section-color); */
}
.our-skills .container{
    display: flex;
    align-items: center;
}

@media(max-width:991px){
    .our-skills .container img{
        display: none;
    }

}
.our-skills .container .skills{
    flex: 1;
}
.our-skills .container .skills h3 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0;
}
.our-skills .container .skills h3 span {
    border: 1px solid #ccc;
    font-size: 15px;
    padding: 2px 4px;
    border-radius: 5px;
    color: var(--main-color);
}
.our-skills .container .skills .the-progress{
    position: relative;
    height: 30px;
    background-color: #eee;
}
.our-skills .container .skills .skill .the-progress span{
    position: absolute;
    left: 0;
    bottom: 0;
    height: 100%;
    background-color: var(--main-color-alt);
}


/* Start Our skills */


/* Start How it works */

.how-works{
    padding-top: var(--main-padding-top);
    padding-bottom: var(--main-padding-bottom);
    background-color: var(--section-color);
}

.how-works .container{
    display: flex;
    align-items: center;
    gap: 100px;
}

@media (max-width:991px){
    .how-works .container{
        flex-direction: column;
        gap: 50px;
    }
}

.how-works .container .image{
    max-width: 100%;
}

.how-works .container .cards .card{
    display: flex;
    align-items: center;
    background-color: #f6f5f5;
    padding: 30px;
    margin-bottom: 20px;
    border: 2px solid white;
    border-radius: 6px;
    gap: 30px;
    position: relative;
    z-index: 1;
}

@media (max-width:767px){
    .how-works .container .cards .card{
        flex-direction: column;
        text-align: center;
        gap: 20px;
    }
}

.how-works .container .cards .card::before{
    position: absolute;
    content: "";
    background-color: #ededed;
    width: 0;
    height: 0;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    transition: 0.3s;
}

.how-works .container .cards .card:hover::before{
    width: 100%;
    height: 100%;
}


.how-works .container .cards .card img{
    width: 64px;
}
.how-works .container .cards .card .content{
    
}
.how-works .container .cards .card .content h3{
    line-height: 25px;
    font-size: 22px;
    padding-bottom: 15px;
}
.how-works .container .cards .card .content p{
        line-height: 1.6;
        font-size: 18px;
        color: #777;
}

/* Start How it works */

/* Start latest events */

.last-events{
    position: relative;
    padding-top: var(--main-padding-top);
    padding-bottom: var(--main-padding-bottom);
}

.last-events .flex{
    display: flex;
    align-items: center;
    /* gap: 5px; */
}

.last-events .flex  img{
    max-width: 450px;
}

@media (max-width:991px){
    .last-events .flex  img{
        display: none;
    }
}

.last-events .flex  .info{
    text-align: center;
    flex: 1;
}
.last-events .flex  .info .time{
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-block: 20px;
}
.last-events .flex  .info .time .unit{
    border: 1px solid #d4d4d4;
    border-radius: 5px;
    text-align: center;
    width: 75px;
    transition: var(--main-transition-duration);
}

.last-events .flex  .info .time .unit .days{
    display: block;
    color: var(--main-color);
    font-size: 32px;
    font-weight: bold;
    padding: 15px;
}

.last-events .flex  .info .time .unit span:last-child{
    display: block;
    border-top: 1px solid #d4d4d4;
    padding: 8px 15px;
    font-size: 13px;
    transition: var(--main-transition-duration);
}

.last-events .flex  .info .time .unit:hover,
.last-events .flex  .info .time .unit:hover span:last-child{
    border-color: var(--main-color-alt);
}


.last-events .flex  .info h2{
    margin-top: 40px;
    font-size: 30px;
}

.last-events .flex  .info p{
    margin-block: 15px;
    line-height: 1.5;
    color: #777;
    font-size: 18px;
}

.last-events form{
    width: 600px;
    padding: 20px;
    background-color: #F6F5F5;
    border-radius: 50vh;
    margin: 20px auto;
    display: flex;
    gap: 15px;
    max-width: 100%;
}

@media (max-width:767px){
    .last-events form{
        border-radius: 0;
        flex-direction: column;
    }
}

.last-events form input{
    padding: 15px;
}

.last-events form input[type="email"]{
    flex: 1;
    border-radius: 50vh;
    outline: none;
    border: none;
    /* padding-inline: 15px; */
    caret-color: var(--main-color);
}

.last-events form input[type="email"]:focus{
    outline: none;
}

.last-events form input[type="email"]::placeholder{
    transition: opacity var(--main-transition-duration);
}

.last-events form input[type="email"]:focus::placeholder{
    opacity: 0;
}

.last-events form input[type="submit"]{
    background-color: var(--main-color);
    padding: 20px;
    border-radius: 50vh;
    border: none;
    color: white;
    cursor: pointer;
    font-weight: bold;
    transition: var(--main-transition-duration);
}



.last-events form input[type=submit]:hover{
    background-color: var(--main-color-alt);
}

@media (max-width:767px){
    .last-events form input[type="submit"],
    .last-events form input[type="email"]{
        border-radius: 0;
    }
}

/* End latest events */
/* Start Pricing */

.pricing{
    position: relative;
    padding-top: var(--main-padding-top);
    padding-bottom: var(--main-padding-bottom);
    background-color: var(--section-color);
}

/* .pricing .dots{
    background-image: url(../images/dots.png);
    background-image: no-repeat;
    height: 100px;
    width: 100px;
    position: absolute;
} 

.pricing .dot-up{
    right: 0;
    top: 150px;
}

.pricing .dot-down{
    left: 0;
    bottom: 150px;
} */

.pricing .container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 30px;
}

.pricing .container .box{
    position: relative;
    background-color: white;  
    text-align: center;
    box-shadow: 0px 0px 10px 0px rgb(0 0 0 / 20%);
    overflow: hidden;
    z-index: 1;
}

.pricing .container .box::after,
.pricing .container .box::before{
    position: absolute;
    content: "";
    background-color: #f6f6f6;
    height: 50%;
    width: 0;
    z-index: -1;
    transition: var(--main-transition-duration);
}
.pricing .box::before{
    top: 0;
    left: 0;
}

.pricing .box::after{
    bottom: 0;
    right: 0;
}

.pricing .box:hover::before,
.pricing .box:hover::after{
    width: 100%;
}


@media (min-width:1200px){
    .pricing .container .popular{
        transform: translateY(-20px);
        /* top: -20px; */
    }
}

.pricing .popular .label{
    position: absolute;
    background-color: var(--main-color-alt);
    width: 40px;
    right: 20px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    writing-mode:vertical-rl ;
    padding: 10px 10px 35px 10px;
}

.pricing .popular .label:after{
    position: absolute;
    content: "";
    left: 0;
    bottom: 0;
    border-width: 20px;
    border-style:solid ;
    border-color: transparent transparent white;

}

.pricing .title{
    font-size: 25px;
    font-weight: bold;
    margin-block: 30px;
}

.pricing img{

}

.pricing .price{
    margin: 30px auto 20px;
}

.pricing .price span{
    display: block;
}

.pricing .price .amount{
    font-weight: bold;
    color: var(--main-color-alt);
    font-size: 60px;
    margin-block-end: 5px;
}

.pricing .price .time{
    color: #777;
}

.pricing ul {
    text-align: left;
}

.pricing ul li{
    border-top: 1px solid #eee;
    padding: 20px;  
}


.pricing ul li::before{
    font-family: "Font Awesome 6 Free";
    content: "\f00c";
    font-weight: 900;
    color: var(--main-color-alt);
    padding-inline-end: 10px;
}

.pricing a{
    display: block;
    width: fit-content;
    margin-inline: auto;
    border: 2px solid var(--main-color-alt);
    color: var(--main-color-alt);
    border-radius: 5px;
    padding: 15px 20px;
    margin-block: 30px;
    font-weight: bold;
    transition: var(--main-transition-duration);
}

.pricing a:hover{
    background-color: var(--main-color-alt);
    color: #e6e6e7;
}
/* Start Pricing */

/* Start videos */

.videos{
    padding-top: var(--main-padding-top);
    padding-bottom: var(--main-padding-bottom);
}

.videos .holder{
    display: flex;
    background-color: var(--section-color);
    border: 1px solid #ddd;
}

@media (max-width:991px){
    .videos .holder{
        flex-direction: column;
    }

}

.videos .holder .list{
    min-width: 300px;
}

.videos .holder .list .title{
    background-color: #F4F4F4;
    font-weight: bold;
    padding: 20px;
    display: flex;
    justify-content: space-between;
}

.videos .holder .list li{
    padding: 20px;
    background-color: white;
    border-top: 1px solid var(--section-color);
    cursor: pointer;
    transition: var(--main-transition-duration);
}

.videos .holder .list li:hover{
    background-color: #fafafa;
    color: var(--main-color);
}

.videos .holder .list li span{
    display: block;
    color: #777;
    margin-top: 10px;
}

.videos .holder .preview{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
}

.videos .holder .preview img{
    width: 100%;
}
.videos .holder .preview .info {
    background-color: white;
    padding: 20px;
}

/* Start videos */